# Snakemake
.snakemake/

# Outputs
results/

# Data (FASTQs, refs, indices, blast db)
# Ignore full dataset only
data/full/

# BLAST db files (if any end up outside data/)
*.nhr
*.nin
*.nsq
*.ndb
*.not
*.ntf
*.nto

# Mac
.DS_Store
